@page "/enter"

@using WillsParkingLot.Enums;
@using WillsParkingLot.Models;
@using WillsParkingLot.Services;

@inject ParkingService _parkingService;

<h2>Check In Vehicle</h2>

<div class="container">
    <div>
        <div>
            <label for="txtLicensePlate">License Plate: </label>
            <input class="form-control" type="text" id="txtLicensePlate" @bind="@car.LicensePlate" required />

            <label for="txtModel">Model: </label>
            <input class="form-control" type="text" id="txtModel" @bind="@car.Model" required />

            <label for="txtColor">Color: </label>
            <input class="form-control" type="text" id="txtColor" @bind="@car.Color" required />

            <label for="ddlType">Type: </label>
            <select class="form-control" id="ddlType" @bind="@car.Type">
                @foreach (var carType in Enum.GetValues(typeof(CarType)))
                {
                    <option>@carType</option>
                }
            </select>
        </div>
        <br />
        <div>
            <button id="btnEnter" class="btn-primary" value="Confirm" @onclick="CheckInCar">Confirm</button>
        </div>
    </div>
</div>

@code {

    Car car = new Car();

    private void CheckInCar()
    {
        _parkingService.CheckInCar(car);
        car = new Car();
    }
}
