@page "/leave"

@using WillsParkingLot.Enums;
@using WillsParkingLot.Models;
@using WillsParkingLot.Services;

@inject ParkingService _parkingService;

<h2>Check out Vehicle</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <label for="txtLicensePlate">License Plate: </label>
            <input class="form-control" type="text" id="txtLicensePlate" @bind="@car.LicensePlate" required />

            <label for="txtModel">Model: </label>
            <input class="form-control" type="text" id="txtModel" @bind="@car.Model" required />

            <label for="txtColor">Color: </label>
            <input class="form-control" type="text" id="txtColor" @bind="@car.Color" required />

            <label for="ddlType">Type: </label>
            <select class="form-control" id="ddlType" @bind="@car.Type">
                @foreach (var carType in Enum.GetValues(typeof(CarType)))
                {
                    <option value="@carType">@carType</option>
                }
            </select>
            <br />
            <div>
                <button id="btnSearch" class="btn-primary" @onclick="SearchCars">Search</button>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Total Fee for parking:</h3>
            <h4>$ @parkingFee.TotalParkingFeeCollected</h4>
        </div>
    </div>
    <br />
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>License Plate</th>
                    <th>Model</th>
                    <th>Color</th>
                    <th>Type</th>
                    <th>Check In Date and Time</th>
                    <th>Checkout</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var parking in searchResults)
                {
                    <tr>
                        <td>@parking.Car.LicensePlate</td>
                        <td>@parking.Car.Model</td>
                        <td>@parking.Car.Color</td>
                        <td>@parking.Car.Type</td>
                        <td>@parking.ArriveTime</td>
                        <td><button id="btn-@parking.ParkingId" @onclick="()=> CheckoutCar(parking)">Checkout</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {

    Car car = new Car();
    private IEnumerable<Parking> searchResults = new List<Parking>();
    private ParkingFee parkingFee = new ParkingFee();

    protected override async Task OnInitializedAsync()
    {
        searchResults = await _parkingService.GetAllCarsCurrentlyInTheParkingLot();
    }

    private async Task SearchCars()
    {
        searchResults = await _parkingService.SearchCars(car);
    }

    private async Task CheckoutCar(Parking parking)
    {
        parkingFee = await _parkingService.CheckoutCar(parking);
        searchResults = await _parkingService.GetAllCarsCurrentlyInTheParkingLot();
    }
}
